*{text-align: center; color: #333333;}
.wrap{width: 1200px; margin: 0 auto;}
.wrap img{width 400px; margin-bottom: 2rem;}

.text-center{}
.text-center .badge {padding:15px; margin-bottom: 2rem;}
.card-title{font-size: 2rem;margin-bottom: 1rem;}
